body {
    background-color: lightblue;


}
ul{
display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: center;
}
h1 {
    color: navy;
    margin-left: 20px;
}
