
.games-container-st {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}

.player-info {
    display: flex;
    align-items: center;
    flex-direction: column; /* Center name and avatar */
    text-align: center;
    margin: 20px 0;
}

.player-avatar {
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Equal width and height for a perfect circle */
    border-radius: 50%; /* Makes the image circular */
    border: 4px solid #282c34; /* Add a border for styling */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
}

.player-info h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 15px;
    font-size: 1.5em;
    color: #ffffff;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.game-card {
    cursor: pointer;
    text-align: center;
    width: 190px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.2s, border-color 0.2s;
    backdrop-filter: blur(1px);
    background-color: rgba(0,0,0, 0.4);
}

.game-card:hover {
    transform: scale(1.05);
    border-color: blue;
    border-width: 1.8px;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.4);
}

.selected {
    border-color: blue;
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5);
}

.game-image {
    width: 170px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

.game-name {
    font-size: 20px;
    word-wrap: break-word;
}

.achievements-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.achievement-item {
    margin-bottom: 20px;
    text-align: center;
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.stTitleName{
    text-align: center;
}
.achievement-item img {
    width: 70px;
    height: 70px;
    max-width: 100%;  /* Scale to the width of the container */
    max-height: 70px; /* Set a maximum height to limit the size */
    object-fit: contain; /* Ensure the image maintains its aspect ratio */
}